@use '/src/sass/base/variables.scss' as *;

@mixin title {
    color: $dark;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

@mixin button {
width: 200px;
height: 50px;
padding: 5px 10px;
background-color: brown;
color: black;
}
            