$dark: #03001a;
$white: #ffffff;
$golden: #ffd781;
$amber: #01b8de;
$sky-light: #f3feff;
$blue-light: #dbeaff;
$brown-dark: #4a3a18;
$gray-light: #e9e9e9;
$gold-soft: #eed297;
$navy-dark: #141437;
$indigo: #423ca4;
$gray-muted: #bcc7d5;
$black-deep: #01000f;
$purple-dark: #482091;
$purple: #822091;
$lavender: #b19ec3;
$gray-cool: #cfd4e0;
$golden-active: #ffcb5b;
$dark-brown: #4a3a18;
$error: #dc0000;
