@use '/src/sass/base/variables.scss' as *;

.validation_error {
    border: 2px solid $error;
    background: $white;
    color: $gunmetal;
    font-family: Onest;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 34px;
}
