@use '/src/sass/base/variables.scss' as *;
@use '/src/sass/base/mixins.scss' as *;

.events {
    padding-top: 59px;
    background: linear-gradient(to bottom, $dark 0%, transparent 21%),
        linear-gradient(to top, $dark 0%, transparent 21%),
        linear-gradient(to left, $dark 0%, transparent 21%),
        linear-gradient(to right, $dark 0%, transparent 21%),
        url('/src/img/events/events-bg.png') center -216px / 1920px no-repeat,
        url('/src/img/promo/promo-bg-blur.png') center 2201px / auto no-repeat;

    .container {
        background: url('/src/img/events/events-line-top.png') center 194px / 2043px
            no-repeat;
        position: relative;
        overflow: hidden;
    }
    &__title {
        margin-top: 78px;
        text-align: center;
    }

    &__wrapper {
        margin-top: 78px;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }

    &__item {
        width: 424px;
        border-radius: 35px;
        overflow: hidden;
        img {
            object-fit: cover;
        }
    }

    &__line-bg {
        position: absolute;
        top: 564px;
        right: 50%;
        height: 3911px;
        width: 976px;
        transform: translate(1400px, -2376px) rotate(16deg);
        background: url('/src/img/events/events-line-bottom.png') center/ contain
            no-repeat;
        z-index: -1;
    }

    &__hall {
        margin-top: 195px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0 20px;
    }

    &__swiper {
        border-radius: 55px;
        height: 700px;
        .swiper-slide {
            max-width: 100%;
        }
        .custom-next {
            left: unset;
            top: unset;
            right: 65px;
            bottom: 15px;
        }

        .custom-prev {
            left: unset;
            top: unset;
            right: 150px;
            bottom: 15px;
        }
    }

    &__hall-wrapper {
        margin-top: 58px;
        display: flex;
        flex-direction: column;
        flex-basis: 1415px;
        margin-left: 40px;
        gap: 20px;
    }

    &__title {
        text-align: left;
    }
    &__button {
        width: 210px;
        height: 94px;
        margin-left: 40px;
        margin-top: 20px;
        margin-right: 20px;
    }
}
