@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.button-table {
    @include button-table;
    &:hover,
    &:active {
        background: $golden-active;
    }
}

.button-reserve {
    @include button-reserve;
    &:hover,
    &:active {
        background: $amber;
    }
}

.button-social {
    @include button-circle;
    &:active,
    &:hover {
        border: none;
        background-color: $amber;
    }
}

.button-menu-burger {
    @include button-circle;
    background-color: $amber;
}

.button-swiper {
    @include button-swiper;
}

.button-swiper-active {
    @include button-swiper;
    background-color: $golden;
}

.button-swiper-active_prev {
    transform: rotate(180deg);
}
