@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.button-table {
    @include button-table;
}

.button-table_active {
    @include button-table;
    background: $golden-active;
}

.button-reserve {
    @include button-reserve;
}

.button-reserve-active {
    background: $amber;
}

.button-social {
    @include button-circle;
}

.button-social_active {
    @include button-circle;
    border: none;
    background-color: $amber;
}

.button-menu-burger {
    @include button-circle;
    background-color: $amber;
}

.button-swiper {
    @include button-swiper;
}

.button-swiper-active {
    @include button-swiper;
    background-color: $golden;
}

.button-swiper-active_prev {
    transform: rotate(180deg);
}
