@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.title-1 {
    @include title;
}

.title-2 {
    @include title;
    font-size: 59px;
    line-height: 70px;
}

.title-3 {
    @include title;
    font-size: 40px;
    line-height: 50px;
}

.title-4 {
    @include title;
    color: $golden;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 5px;
}
