@use '/src/sass/base/mixins.scss' as *;
@use '/src/sass/base/variables.scss' as *;

.title-108 {
    @include title;
}

.title-59 {
    @include title;
    font-size: 59px;
    line-height: 70px;
}

.title-40 {
    @include title;
    font-size: 40px;
    line-height: 50px;
}

.title-18 {
    @include title;
    color: $golden;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 5px;
}
